.container__payments {
  padding: 30px 75px 100px 100px;

  h3 {
    margin-bottom: 40px;
    font-weight: 650;
    border-bottom: 4px solid black;
    padding-bottom: 10px;
    width: 30%;
    background-color: white;
    text-transform: uppercase;
  }

  .container__subpayment {
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;

    .product__payment {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 100px;
      font-weight: 900;

      p {
        width: 100%;
        min-width: max-content;
        margin-bottom: 0rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.1rem;
        color: rgba(78, 76, 76, 0.467);
      }
    }

    .product__class {
      display: flex-end;
      width: 45%;
      font-weight: 900;

      p {
        margin-bottom: 0rem;
        text-align: center;
        margin-right: 100px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.1rem;
        color: rgba(78, 76, 76, 0.467);
      }
    }
  }

  .containers__subpayment {
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;

    .products__payment {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: end;

      img {
        height: 100px;
        width: 100px;
        margin-left: 40px;
      }

      p {
        width: 100%;
        min-width: max-content;
        margin-bottom: 0rem;
        text-align: left;
        margin-left: 60px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .products__class {
      display: flex;
      width: 60%;
      justify-content: left;

      .content__class {
        p {
          font-weight: 500;
        }
      }

      .quantity__class {
        text-align: end;

        .quantity__center {
          p {
            margin-bottom: 16px;
            margin-right: 20px;
          }
          .increament {
            width: 100%;

            .slot {
              margin-right: 70px;
            }

            p {
              margin-right: 80px;
            }

            span {
              background-color: black;
              padding: 5px 12px;
              color: white;
              margin: 0px 20px;
              border-radius: 50%;
            }

            input {
              width: 10%;
              margin-bottom: 12px;
              border-color: black;
              align-items: center;
            }
          }
        }
      }
    }
  }

  .container__submit {
    display: flex;

    .total__payment {
      margin-left: 500px;

      p {
        font-size: 18px;
        letter-spacing: 0.1rem;
        color: rgba(78, 76, 76, 0.467);
      }

      span {
        font-size: 30px;
        font-weight: 900;
        color: black;
      }
    }

    .total__button {
      margin-left: 160px;

      button {
        margin: 100px 22px 0 15px;
        text-transform: capitalize;
        font-weight: 300;
        height: 2.5rem;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 0.875rem;
        border-radius: 10px;
        width: 13.125rem;
        align-items: center;
        background-color: #217d38;
        color: white;
        padding: 10px 20px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
