.container__data2 {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(to right top, #34c759, #2fb451, #2aa148, #268f40, #217d38);
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;

    .container__data__content{
        text-align: left;
        width: 100%;
        margin: 70px 50px;
        

        .flex__title {
            display: flex;
            h1 {
                font-size: 60px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                color: #f3f3f3
            }
        }

        h1 {

            font-size: 18px;
            font-weight: 600;
            color: white;
        }
        p{
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 0px;
            width: 100%;
        }

        img {
            width: 30%;
            margin-bottom: 25px;
        }

        .container__data__content__padding {
            margin-left: 5px;
            width: 100%;
        }

    }
}