.investment-title {
  text-align: center;
  padding-bottom: 3rem;
}

.card-item {
  margin: 3rem 0;
  cursor: pointer;
}

.card-item-single img {
  height: 40vh;
}
.card-item-single {
  box-shadow: 0em 0em #ffffff;

  &:hover {
    opacity: 0.7;
  }
}

.card-body {
  height: 20vh;

  p {
    color: black;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    // white-space: nowrap;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding-top:3px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
    background-color: none;
    color: green;
  }
}

.card-footer-text i,
.card-footer-text span {
  margin-left: 1rem;
}
