.footer-container {
  color: #c4c4c4;
}

.container-fluid {
  margin-top: 95px;
}

.footer {
  background: black;
  padding: 1rem;
  color: #ffffff;
  

  span {
    font-size: 20px;
    padding-top: 40px;
    font-weight: 900;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
  }

  .fa {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 80%;
    box-shadow: 0px 16px 32px 0px rgba(212, 212, 212, 0.2);
    border: 1px solid #fff;
    padding:10px;
  }
}

.footer-link {
  list-style-type: none;

  h5{
    font-size: 16px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.footer-link {
  list-style-type: none;

  h5{
    font-size: 16px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  li {
    margin: 0.2em 0;
    font-size: 14px;

    &:hover {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #FE8264;
    text-decoration: none;
    }
  }
}

.footer-important {
  list-style-type: none;

  h5{
    font-size: 16px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  li {
    margin: 0.2em 0;
    font-size: 14px;

    &:hover {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #FE8264;
    text-decoration: none;
    }
  }
}



.footer-download-icon {
  color: rgba(225, 225, 225, 75%);
  text-align: center;
  font-size: 4em;
}

.footer-download-icon i:hover {
  color: white;
  cursor: pointer;
}

.footer-brand {
  background: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid white;
}
