.container__personaldetail {
  padding: 150px 100px;
  display: flex;

  .container__left {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;

    .container__content {
      width: 90%;
      h5 {
        margin-bottom: 25px;
        text-align: center;
        background-color: #54ccb5;
        color: white;
        padding: 8px;
        border-radius: 15px;
        width: 50%;
        text-align: center;
        margin-left: 120px;
      }

      p {
        font-size: 13px;
        line-height: 25px;
      }
    }

    img {
      width: 60%;
      margin-bottom: 60px;
      margin-right: 30px;
    }
  }

  .container__right {
    width: 100%;

    img {
      width: 20%;
      border-radius: 100%;
    }

    .input__photo {
      border-radius: none;
      border-color: white;
      margin-bottom: 30px;
    }

    .input__photosubmit {
      border-radius: none;
      width: 20%;
      background-color: black;
      color: white;
      margin-bottom: 30px;
      margin-top: 10px;
    }

    h4 {
      font-weight: 900;
      font-size: 1.2rem;
      letter-spacing: 1.5px;
    }

    label {
      font-size: 0.8rem;
      letter-spacing: 1px;
    }

    input {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.95rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .contact__information {
      margin-top: 100px;
    }
  }
}

.container__profile {
  padding: 100px;
  height: 170vh;

  h3 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.profile__pic {
  text-align: center;
  img {
    width: 30%;
    border-radius: 50%;
    margin: 0px 60px;
  }

  p {
    margin-top: 20px;
  }
}

.nav-pills .nav-link.active {
  background-color: #3a7d39;
  color: white;
}

.container__photos {
  padding: 20px 0px;

  h4 {
    font-weight: 650;
    letter-spacing: 1.5px;
    background-color: #a8a8a8;
    color: white;
    padding: 7px 15px;
    width: 60%;
    border-radius: 5px;
  }

  form {
    display: flex;
    margin-bottom: 20px;

    img {
      margin-top: 20px;
      width: 20%;
      border-radius: 50%;
    }

    input {
      margin-top: 60px;
      padding: 20px;
      text-align: center;
    }
  }
}

.personal__information {
  h4 {
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin-bottom: 20px;
    background-color: #a8a8a8;
    color: white;
    padding: 7px 15px;
    width: 70%;
    border-radius: 5px;
  }
}

.contact__information {
  h4 {
    margin-top: 50px;
  }
}

.container__contentbar {
  padding: 0px 0px 0px 75px;
}

.investmentstatus__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(78, 76, 76, 0.467);
}

.investmentstatus__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  margin-top: 20px;

  .invest_payoff {
    background-color: green;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
  }

  .invest_payoff {
    background-color: green;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
  }

  .invest_payoffs {
    background-color: red;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
  }
}

.investmentcontainer {
  overflow: scroll;
  max-height: 100vh;
}
